<h1>Editing form</h1>

<div id="stage">
    <dix id="menu">
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li class=""><a href="#A" data-toggle="tab">Header</a></li>
          <li class=""><a href="#B" data-toggle="tab">Color</a></li>
          <li class=""><a href="#C" data-toggle="tab">TextLine</a></li>
          <li class=""><a href="#D" data-toggle="tab">TextArea</a></li>
          <li class=""><a href="#E" data-toggle="tab">Radio</a></li>
          <li class=""><a href="#F" data-toggle="tab">Select</a></li>
          <li class=""><a href="#G" data-toggle="tab">Fancy Pants</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active">
            <p>
              <h2 style="color: gainsboro;">Reorder fields</h2>
              <h3 style="color: gainsboro;"> Add new ones </h3>
            </p>
          </div>
          <div class="tab-pane" id="A">
            <p>
              <input id="header_input" type="text" placeholder="Enter form header">
              <input id="header_color" type="text" placeholder="Enter header bg color">
              <input type="range" min="10" max="80" step="5" value="50" id="header_size"> 
            </p>
          </div>
          <div class="tab-pane" id="B">
            <p><input id="bg_color_input" type="text" placeholder="main background color"></p>
            <p><input id="inp_color_input" type="text" placeholder="inputs background color"></p>
          </div>
          <div class="tab-pane" id="C">
            <p>
              <input type="text" placeholder="Enter label">
              <input type="range" min="100" max="400" step="20" value="206" id="line_size"> 
              <%= link_to "Add simple input", "", id: :line_add, remote: true, class: "btn" %>
              <!-- <input type="radio" name="browser" value="ie"> Left
              <input type="radio" name="browser" value="opera"> Right -->
            </p>
          </div>
          <div class="tab-pane" id="D">
            <p>
              <input type="text" placeholder="Enter label">
              <%= link_to "Add text area", "", id: :text_add, remote: true, class: "btn" %>
            </p>
          </div>
          <div class="tab-pane" id="E">
            <p>
              <input type="text" placeholder="Enter label" id="label">
              <input type="text" placeholder="list of options separated by whitespace" id="radioptions">
              <%= link_to "Add radio group", "", id: :radio_add, remote: true, class: "btn" %>
            </p>
          </div>
          <div class="tab-pane" id="F">
            <p>
              <input type="text" placeholder="Enter label" id="label"> 
              <input type="text" size="50" id="options" placeholder="list of options separated by whitespace">
              <%= link_to "Add selectbox", "", id: :select_add, remote: true, class: "btn" %>
            </p>
          </div>
          <div class="tab-pane" id="G">
            <p>
              <%= link_to "Add separator", "", id: :hr_add, remote: true, class: "btn" %> 
              <!-- <input type="text" size="50" placeholder="list of options separated by whitespace"> -->
            </p>
          </div>
        </div>
      </div>

      
      
      
      <p>
        <%= link_to "Clear form", "", id: :clear, remote: true, class: "btn btn-danger" %> 
        <!-- <input type="text" size="50" placeholder="list of options separated by whitespace"> -->
      </p>
    </dix>
    <dix id="main">
      <%= @form.body.html_safe %>
      </ul>
    </dix>
  </div>

<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.text_area :body %>
  <%= f.hidden_field :title %>
  <p>Code</p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', @form %> |
<%= link_to 'Back', forms_path %>
