<p id="notice"><%= notice %></p>
<%= form_for @form.results.build do |f| %> 
	<%= @form.body.html_safe%>
	<%= hidden_field_tag :form_id, @form.id %>
	<div class="actions">
    <%= f.submit %>
  </div>
<%end%>
<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>

<script>$("#sortable").sortable(); $( "#sortable" ).sortable('disable');</script>
<h3>Tiny results table:</h3>
<table>
  <thead>
  	<% unless @form.results.first.body.empty? %>
	    <tr>
	  		<% JSON.parse(@form.results.first.body).each do |key, value|%>
			    <th><%= key %></th>
		    <% end %> 
	    </tr>
    <%end%>
  </thead>

  <tbody>
    <% @form.results.each do |result| %>
      <tr>
      	<% unless result.body.empty? %>
	      	<% JSON.parse(result.body).each do |key, value|%>
				    <td><%= value %></td>
			    <% end %>
			  <%end%>
		  </tr>
    <% end %>
  </tbody>
</table>