
#menu {
	height: 500px;
	/*background: cadetblue;*/
	width: 35%;
	display: inline-block;
	float: left;
}

#main{
	height: 500px;
	/*background: green;*/
	border-color: black;
	border-width: 2px;
	border: solid;
	width: 60%;
	display: inline-block;
	float: left;
	overflow: auto;
}

.del {
width: 30px;
float: right;
margin-right: 5px;
background: red;
border-radius: 15px;
text-align: center;
text-decoration: none;
}
li {
	list-style: none;
	margin-top: 15px;
	padding: 0px 0px 5px 10px;
}
#trash {
	width:75px;
	height:75px;
	background-color:grey;
	margin-top:20px;
	margin-left:200px;
}

#sortable{
	margin: 15px;
	/*background: cadetblue;*/
}

/*label {
	display: inline-block;
	min-width: 70px;
}*/

h2{
	margin: 25px;
}