<!DOCTYPE html>
<html>
<head>
  <title>Formbuilder</title>
	<%= stylesheet_link_tag  "application", media: :all %>
	<%= javascript_include_tag  "application" %>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
